/* index y header/footer para todas las paginas ----------------------------------------------------------- */

.logo-sec{
    display: flex;
    justify-content: left;
    width: 20px;
    height: 100px;

}

body {
    background-image:url(../img/WhatsApp\ Image\ 2023-09-10\ at\ 19.50.57.jpeg);
    display: flex ;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header {
    width: 80vw;
    background-color: rgb(38, 38, 39);
    font-family: 'Roboto', 'swap';
    display: flex;
    color: white;
    margin: 15px;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 15px;
}

.tcontainer {
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.peliculasmasvaloradas {
    background-color:rgb(38, 38, 39);
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px;
     list-style: none;
}

.peliculasmasvaloradas > ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1px;


}
.pelicula-card {
    height: 25rem;
    margin: 10px;
    border: 4px solid transparent;
    border-radius:10px;
}


.peliculaspopulares {
    background-color:rgb(38, 38, 39);
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px;
    list-style: none;
}

.peliculaspopulares >ul {
   
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2px;
}



.seriespopulares {
    background-color: rgb(38, 38, 39);
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px;
    padding: 2px;
    list-style: none;

}
.seriespopulares ul li h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    
}
.peliculaspopulares ul li h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    
}
.peliculasmasvaloradas ul li h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    
}

.h1 {
    color:whitesmoke;
    text-align: center;
    font-family: "";
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    text-shadow: red 0 2px;
}
.priurl,.segurl {
    color: white;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.telon-banner {
    height:250px;
    width:100%;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px;
}

.titulo-banner-container {
    display: flex;
    flex-direction: column;
}

.seriespopulares > ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
.footer{
    color: whitesmoke;
}
.headerinfo:hover {
    color: black;
  
}
.headerinfo{
    color: white;
    text-decoration: none;
    

}
/* detalle generos ----------------------------------------------------------- */

.gcontainer {
    width: 70vw;
    display: flex;
    flex-direction: column;
}
.generos-banner-container {
    display: flex;
    flex-direction: column;
}
.generos-banner {
    height:200px;
    width:100%;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px;
}

.genero-elegido {
    color:whitesmoke;
    text-align: center;
    font-family: "";
}
.banner_genero > ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner_genero {
    background-color: rgb(38, 38, 39);
        display: flex;
        flex-wrap: nowrap;
        padding: 10px;
        overflow: scroll;
        color: white;
        border-style: solid;
        border-radius: 15px;
        margin-bottom: 100px;
    }

  
    /* favoriitos ----------------------------------------------------------- */

.mcontainer{
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.favorito-banner-container{
    display: flex;
    flex-direction: column;
}
.favorito-banner{
    height:200px;
    width:100%
}
.banner_favoritos {
    background-color:rgb(38, 38, 39);
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px;
}
.pelicula-card {
    height: 25rem;
    margin: 1rem;
    border: 4px solid transparent;
}

.pelicula-card:hover {
    margin: 1rem;
    border: 4px solid white
}

.banner_favoritos > ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.favorito-texto{
    color:whitesmoke;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    text-shadow: red 0 2px; 
}
.banner_favoritos ul li h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    
}

/* detalle serie ----------------------------------------------------------- */

.serie-elegida{
    background-color:rgb(38, 38, 39);
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px; 
    width: 60%;
}

.serie-elegida > li {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.detalle-Mounstrous{
    flex-direction: row;
    display: flex;
    list-style: none;
    justify-content: left;
    

}

.cienciaficcion{
    text-decoration: none;
    color: white;
}

/* detalle pelicula ----------------------------------------------------------- */

.pelicula-elegida{
    background-color:rgb(38, 38, 39);
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px; 
    width: 60%;
}

.pelicula-elegida > li {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.detalle-oppenheimer{
    flex-direction: column;
    display: flex;
    list-style: none;
    justify-content: left;
    

}

/* Estilos para el contenedor padre ----------------------------------------------------------- */

.generos-peliculas {
    background-color:rgb(38, 38, 39);
    border-style: solid;
    border-color: white;
     border-radius: 25px;
     margin-bottom: 100px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
    font-size: 21px;
}
.generos-peliculas li a {
    color: black;
    text-decoration: none;
    
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 50px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: grey;
    border-radius: 10px;
    border-style: double;

}
.generos-series li a {
    color: rgb(9, 8, 8);
    text-decoration: none;
    
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 50px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: grey;
    border-radius: 10px;
    border-style: double;
}
.generos-series {
    background-color:rgb(38, 38, 39);
    border-style: solid;
    border-color: white;
     border-radius: 25px;
     margin-bottom: 100px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
    font-size: 21px;
}


.titulo-genero {
    color: white;
}

.clase-titulosgen{
    color: whitesmoke;
    align-items: center;
}
.genero-elegido {
    color:whitesmoke;
    text-align: center;
    font-family: "";
}
.banner_genero > ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
   }

.banner_genero{
    width: 100%;
    height: fit-content;
    padding: 0%;
}
.banner--genero{
    width: 100%;
    height: 250px;
    padding: 0%;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 70px;
    margin-top: 40px;

    
}
.texto-banner{
    position: absolute;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-style:italic;
    padding: 20px
    
}


form {
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
  }
  form{
    display: flex;
    justify-content: flex-end;
  }

  #logoPI{
     border-top-left-radius: 12px; 
     border-bottom-left-radius: 12px;
  }

  /* busqueda html ----------------------------------------------------------- */
.banner_busqueda{
    background-color:rgb(38, 38, 39);
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px;

}
.banner_busqueda > ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Bcontainer{
    width: 70vw;
    display: flex;
    flex-direction: column;
}
.busqueda-banner-container{
    display: flex;
    flex-direction: column;
}
.busqueda-banner{

    color: white;
    border-style: solid;
    height:250px;
    border-radius: 20px;
    width:100%
  
   
}
.pelicula-card {
    height: 25rem;
    margin: 1rem;
    border: 4px solid transparent;
}
 .banner_busqueda ul li h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    
}

.banner_genero ul li h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;

}

.resultado-busqueda{
    
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    color: white;
   
    
}
/* para centrar las peliculas en computadora -----------------------------------------------------------*/
.seriespopulares ul li h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
}
.seriespopulares ul li p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
}
.peliculaspopulares ul li h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
}
.peliculaspopulares ul li p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
}
.peliculasmasvaloradas ul li h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
}
.peliculasmasvaloradas ul li p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
}
.banner_favoritos ul li h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
}
.banner_favoritos ul li p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
}
.banner_busqueda ul li h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
}
.banner_busqueda ul li p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
}


.container-serie{

    display: flex;
    flex-direction: row;
    height: fit-content;
    text-decoration: none;
    color: inherit;
    margin: 10px;
    color: white;
}

.container-serie h3{
    margin: 0;
}

.container-serie p{
    margin: 0;
}

.container-serie img{
    max-height: 400px;
    max-width: 260px;
    margin-right: 16px;
}


.link-genero{
    text-decoration: none;
    color: inherit;
    margin: 10px;
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
}


.peliculas-por-genero{
    background-color: rgb(60, 60, 60);
    border: 2px solid white;
    border-radius: 10px;
}

.fav{
    height: 50px;

}

.similares{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(60, 60, 60);;
    margin: 10px;
    width: 70%;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}

.peliculas-similares{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.container-similares{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}

.container-similares img{
    width: 100px;
    display: flex;
    justify-content: center;
}

.container-similares h3{
    margin: 0;
    width: 50%;
    display: flex;
    text-align: center;
}

/* para iphone -----------------------------------------------------------*/

@media (max-width:420px){
    
  
    #logoPI {
        width: 150px;
        height: 50px;
        display: flex;
        padding-left: 90px;
        padding-top: 10px;
    }
    
    .body {
        background-image: url(../img/WhatsApp\ Image\ 2023-09-10\ at\ 19.50.57.jpeg);
        display: flex;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

     .header{
         width: auto;
        margin: 15px;
         color: white;
         background-color: rgb(38, 38, 39);
        justify-content: space-between;
        align-items: center;
        display: block;
        flex-wrap: wrap;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        border-radius: 15px;
        font-family: 'Roboto', 'swap';
        }
    
    .logo-sec {
         display: flex;
        justify-content: left;
        width: 20px;
        height: 70px;
        }
     .headerinfo1{
            padding-left: 40px;
            padding-right: 40px;
            
    
        }
    .headerinfo{
            align-items: center;
            text-align: center;
        }
    .formulario{
            display: flex;
            margin: auto;
            width: auto;
            height: 20px;
            padding-top: 10px;
        }

    .buscador{
            padding-left: 45px;
            padding-right: 45px;
           margin-bottom: 20px;}
   
    .h1{
           padding-left: 45px;
           padding-right: 45px;
           font-size: large;
           }

       
    .tcontainer {
               width: 100%;
               height: auto;
               display: flex;
               flex-direction: column;
           }


    .telon-banner {
            height: 150px;
            width: auto;
            color: white;
            border-style: solid;
            border-radius: 15px;
            margin-bottom: 20px;
        }

    .priurl, .segurl {
            color: white;
            font-size: medium;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

    .priurl, .segurl {
            color: white;
            font-size: medium;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }


    .peliculasmasvaloradas > ul {
            list-style: none;
            display: flex;
            margin-left: 40px;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
             padding-right:10px;
             padding-left:10px;
             width: 275px;
       
        }

    .pelicula-card{
            height: 300px;
            border-style: solid;
            border-color: darkred;
        }
            
    .peliculaspopulares > ul{
        
                list-style: none;
                display: flex;
                margin-left: 40px;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                 padding-right:10px;
                 padding-left:10px;
                 width: 275px;
        
        }
    .ul{
            padding-left: 50px;
            padding-right: 50px;
        }
        
    .busqueda-banner{
                height: 120px;
                border-radius: 20px;
                border-style: solid;
                border-color: white;
                width: 100%;
            }
    .resultado-busqueda{
            font-size: medium;
                text-align: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: white;
            }
        
        .banner--genero {
                width: 100%;
                height: 150px;
                padding: 0%;
                color: white;
                border-style: solid;
                border-radius: 15px;
                margin-bottom: 70px;
                margin-top: 40px;
            }
            .clase-titulosgen {
                color: whitesmoke;
                font-size: medium;
                align-items: center;
            }
            .titulo-genero {
                color: white;
                font-size: large;
            }
            .pelicula-elegida {
                background-color: rgb(38, 38, 39);
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 10px;
                overflow: scroll;
                color: white;
                border-style: solid;
                border-radius: 15px;
                margin-bottom: 100px;
                margin-top: 50px;
                width: 94%;
                font-size: small;
            }
            .favorito-texto {
                color: whitesmoke;
                text-align: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: x-large;
                text-shadow: red 0 2px;
            }
            .serie-elegida {
                background-color: rgb(38, 38, 39);
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 10px;
                overflow: scroll;
                color: white;
                border-style: solid;
                border-radius: 15px;
                margin-bottom: 100px;
                margin-top: 50px;
                width: 94%;
                font-size: small;
            }
        
            .banner_busqueda {
                background-color: rgb(38, 38, 39);
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 10px;
                
                color: white;
                border-style: solid;
                border-radius: 15px;
                margin-bottom: 100px;
                margin-top: 0px;
                width: 94%;
                font-size: small;
            }
            .banner_busqueda > ul {
                list-style: none;
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                padding-left: 0px;
            }
            /* para poner el estreno y nombre centrado */
            .seriespopulares ul li h3 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: medium;
                text-align: center;
            }
            .seriespopulares ul li p {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: medium;
                text-align: center;
            }
            .peliculaspopulares ul li h3 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: medium;
                text-align: center;
            }
            .peliculaspopulares ul li p {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: medium;
                text-align: center;
            }
            .peliculasmasvaloradas ul li h3 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: medium;
                text-align: center;
            }
            .peliculasmasvaloradas ul li p {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: medium;
                text-align: center;
            }
            .banner_favoritos ul li h3 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: medium;
                text-align: center;
            }
            .banner_favoritos ul li p {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: medium;
                text-align: center;
            }
            .banner_busqueda ul li h3 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: medium;
                text-align: center;
            }
            .banner_busqueda ul li p {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: medium;
                text-align: center;
            }
            /* para el d gneros ponerlo centrado */

            .generos-peliculas {
                background-color: rgb(38, 38, 39);
                border-style: solid;
                border-color: white;
                border-radius: 25px;
                list-style: none;
                display: block;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 0px;
                padding-right: 30px;
                padding-bottom: 20px;
                flex-wrap: wrap;
                align-items: center;
                font-size: 15px;
            
            }
            .generos-series {
                background-color: rgb(38, 38, 39);
                border-style: solid;
                border-color: white;
                border-radius: 25px;
                list-style: none;
                display: block;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 0px;
                padding-right: 30px;
                padding-bottom: 20px;
                flex-wrap: wrap;
                align-items: center;
                font-size: 15px;
            
            }




}



















