.logo-sec{
    display: flex;
    justify-content: left;
    width: 20px;
    height: 100px;

}

body {
    background-image:url(../img/WhatsApp\ Image\ 2023-09-10\ at\ 19.50.57.jpeg);
    display: flex ;
    flex-direction: column;
    align-items: center;

}
header {
    width: 80vw;
    background-color: rgb(38, 38, 39);
    font-family: 'Roboto', 'swap';
    display: flex;
    color: white;
    margin: 15px;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 15px;
}

.tcontainer {
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.peliculasmasvaloradas {
    background-color:rgb(38, 38, 39);
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px;
}

.peliculasmasvaloradas > ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;


}
.pelicula-card {
    height: 25rem;
    margin: 1rem;
    border: 4px solid transparent;
}


.peliculaspopulares {
    background-color: rgb(38, 38, 39);
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px;
}

.peliculaspopulares >ul {
   
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}



.seriespopulares {
    background-color: rgb(38, 38, 39);
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    overflow: scroll;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px;

}

.h1 {
    color:whitesmoke;
    text-align: center;
    font-family: "";
}
@media (max-width:420px){
  
  
}

.telon-banner {
    height:200px;
    width:100%;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 100px;
}

.titulo-banner-container {
    display: flex;
    flex-direction: column;
}


